.client {
    FONT-WEIGHT: BOLD;
    margin-top: 9PX;
    //
    margin-left: 50PX;
}

.facture{
    margin-top: 9PX;
    FONT-WEIGHT: BOLD;
    //margin-left: 35PX;
    font-size: 18px;
    margin-left: 80px;
}

.date{
    margin-right: 60PX;
    margin-bottom: -6px;
    FONT-WEIGHT: bold;
    margin-bottom: -6px;
    margin-top: -3px;
}

ion-item{
    MARGIN-BOTTOM: 20px;
}

ion-select{
    margin-right: 50PX;
    font-weight: bold;
}

.enregistrerPaiment{
    margin-top: 40%;
    HEIGHT: 40PX;
    WIDTH: 80%;
    MARGIN-LEFT: 30PX;
}

