<ion-header>
  <ion-toolbar color = "green">
    <ion-buttons slot="end" full="outline">
      <ion-button color="dark" (click)="closeModal()" id="close_size">
        <ion-icon name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Paiment Facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- formulaire d'ajout d'un paiment -->
  <form #f="ngForm" novalidate   (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-item >
        <ion-label position="fixed" > Facture N° : </ion-label>
        <p class="facture"> {{detailFacture.num_Fact}} </p>
      </ion-item>

      <ion-item >
        <ion-label position="fixed" > Client :  </ion-label>
       <p class="client"> {{detailFacture.design_client}}</p>
      </ion-item>

      <ion-item >
        <ion-label> Date Règlement : </ion-label>
        <ion-datetime  [(ngModel)]="myDate" name = "date_paiment" 
        cancelText= "Annuler" doneText="OK" displayFormat="DD-MM-YYYY" class="date"> </ion-datetime>
      </ion-item>
     
      <ion-item class="margin_ville">
      <ion-label style="color : dimgray ; font-weight : bold"  >  Mode Règlement : </ion-label>
      <ion-select interface="popover" [(ngModel)]="paimentModel.id_modePaiment" [selectedText]="paimentModel.design_mode"
       [ngModelOptions]="{standalone: true}" >
      <ion-select-option *ngFor = "let mode of modePaiment" [value]="mode.id_mode"  > 
        {{mode.design_mode}}
      </ion-select-option>
      
      </ion-select>
      </ion-item>


   
    <ion-item>
      <ion-label  > Montant Payé :  </ion-label>
      <ion-input type="number" [(ngModel)]="paimentModel.montant_payer"  required name ="tel"
       #telCtrl="ngModel" maxlength="this.detailFacture.reste_du" ></ion-input>
    </ion-item>

    
    <ion-button  type ="submit" fill="outline" expand="block" color="green" class="enregistrerPaiment"
     type="submit"  shape="round" [disabled]="!f.valid" > Enregistrer 
    
    </ion-button>
  
  </ion-list>
  </form>

</ion-content>
